.wap-edit-toolbar {
    height: 52px;
    border-block: 1px solid palette('white', '200');

    .tools {
        height: 50px;
        min-height: unset !important;

        .edit-tools,
        .lang-tools,
        .page-list-select-tool,
        .breakpoints-tools {
            // border-inline-end: 1px solid palette('white', '200');
        }

        .breakpoints-tools {

            .breakpoints-tabs {
                width: 200px;

                .breakpoint-tab {
                    max-width: 220px;
                }
            }

            .breakpoints-toolbar-menu {
                .breakpoint-toolbar-menu-header {
                    width: 356px;
                }

                .breakpoint-toolbar-menu-footer {}

                .edit-breakpoint-form {
                    &:hover {

                        &.editable {
                            .form-control {
                                display: unset;
                            }
                        }
                    }

                    input {
                        padding-block: rem(3px);
                        padding-inline-start: rem(8px);
                    }

                    p.MuiTypography-root {
                        font-size: .8rem;
                    }

                    .start-edit-breakpoint-button {}

                    .form-control {

                        &.cancel-edit-button {}

                        &.submit-edit-button {}

                        &.start-edit-icon-button {}

                        &.delete-breakpoint-icon-button {}
                    }
                }

                .new-breakpoint-form {
                    &:hover {

                        &.editable {
                            .form-control {
                                display: unset;
                            }
                        }
                    }

                    input {
                        padding-block: rem(3px);
                        padding-inline-start: rem(8px);

                    }

                    p.MuiTypography-root {
                        font-size: .8rem;
                    }

                    .form-control {
                        &.cancel-new-breakpoint-button {}

                        &.submit-new-breakpoint-button {}

                    }
                }
            }

            .screen-width-control {
                // border-inline-end: 1px solid palette('white','200');
            }
        }

        .action-tools {
            // border-inline-end: 1px solid palette('white', '200');

            .action-button {}
        }

        .zoom-controller {
            .zoom-options {
                .zoom-control {
                    border-inline-end: 1px solid palette('white', '200');
                    height: inherit;

                    .zoom-button {}

                    .zoom-preview {
                        width: 50px;
                    }
                }
            }

        }

        .notifications-menu {}

        .misc-tools {
            
            button svg {
                // fill: palette('black', '200');
            }
            
            
        }
    }
}